# Tuples

In [4]:
food = ("Apple","Mango","Stawberry","Grapes","cherry")
food
#tupes just like constant you can not change or Update those values define in tuples.

('Apple', 'Mango', 'Stawberry', 'Grapes', 'cherry')

# LOOP

In [1]:
li = [1,2,3,4,5,6,7,8,9]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])
print(li[5])
print(li[6])
print(li[7])
print(li[8])

1
2
3
4
5
6
7
8
9

In [5]:
for i in food:
    print(i)

Apple
Mango
Stawberry
Grapes
cherry

In [19]:
cities = ["karachi","Lahore","Rawalpindi","Sialkot","Larkana"]
for i in cities:
    if i == "karachi":
        print(f"{i}: Foods Lover")
    else:
        if i == "Lahore":
            print(f"{i}: Sports Lover")
        else:
            if i == "Rawalpindi":
                print(f"{i}: Pindi Boys")
            else:
                if i == "Sialkot":
                    print(f"{i}: Sport Production")
                else:
                    if i == "Larkana":
                        print(f"{i}: Bhutto")

karachi: Foods Lover
Lahore: Sports Lover
Rawalpindi: Pindi Boys
Sialkot: Sport Production
Larkana: Bhutto

In [4]:
for i in li:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4
6
7
8
9

In [6]:
for i in li:
    if i != 5:
        print(i)

1
2
3
4
6
7
8
9

In [7]:
for i in li:
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [10]:
for i in li:
    if i == 2:
        continue
    elif (i == 8):
        break
    else:
        print(i)

1
3
4
5
6
7

In [24]:
l2 = list(range(2,21,2))
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
l3 = list(range(3,31,3))
l3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Backword

In [27]:
l3 = list(range(20,0,-2))
l3

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [30]:
l5 = list(range(50,0,-5))
l5

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]